* {
    font-family: Courier, monospace;
}

.link{
    cursor:pointer;
}
body {
    margin: 10px;
    font-family: 'Arial', sans-serif;
    background-color: #f7f6fb;
}
.back-button {
    top: 20px;
    left: 20px;
    background-color: #000000;
    color: white;
    border: 2px sold rgb(255, 255, 255);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  .back-button:hover {
    background-color: #ffffff;
    color: #000000;
    border: 2px sold rgb(0, 0, 0);
  }
  .back-button :active{
    transform: scale(1.1);
  }
.profile-container {
    margin: 10px;
}

.profile-header {
    text-align: center;
}

.profile-header img {
    border-radius: 10px;
    border:2px solid rgb(91, 88, 88);
    max-width: 150px;
    object-fit: cover;
}

.profile-details {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.profile-details ul {
    list-style-type: none;
    padding: 0;
}

.profile-details li {
    margin: 10px 0;
}


.menu-toggle-button {
    position: fixed;
    top: 20px;
    left: 20px;
}

.menu-item {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
}

.sliding-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    transition: transform 0.3s ease;
    transform: translateX(-250px);
}

.menu-open {
    transform: translateX(0);
}

.menu-closed {
    transform: translateX(-250px);
}
.social {
    display: flex;
    gap: 15px; /* Adjust space between icons */
    justify-content: center;
    margin-top: 20px;
  }
  
  .social img {
    width: 35px; /* Adjust icon size */
    height: 35px;
    border-radius: 50%; /* Make icons circular */
    transition: transform 0.3s ease;
  }
  
  .social img:hover {
    transform: scale(1.1); /* Zoom effect on hover */
  }
  
  .fa {
    margin: 0;
  }
  
